<form
  [formGroup]="subscriberForm"
  (ngSubmit)="onSubmit()"
  class="add-form"
>
  <span *ngIf="!subscriberForm.valid && (isSubmitted)" class="alert">*Invalid form</span>
  <div class="form-control">
    <label for="email">Email</label>
    <input
      id="email"
      type="email"
      formControlName="email"
    >
    <span *ngIf="f['email'].hasError('required') && (f['email'].touched || (isSubmitted))" class="alert">*Email is required</span>
    <br>
    <span *ngIf="f['email'].hasError('email') && (f['email'].touched || f['email'].dirty)" class="alert">*Email is invalid</span>
  </div>
  <div class="form-control">
    <label for="password">Password</label>
    <input
      id="password"
      type="password"
      formControlName="password"
    >
    <span *ngIf="f['password'].hasError('required') && (f['password'].touched || f['password'].dirty) || (isSubmitted)" class="alert">*Password is required</span>
    <br>
    <span *ngIf="f['password'].hasError('pattern') && (f['password'].touched || f['password'].dirty)" class="alert">*Password has to be 8 characters long with at least 1 letter and 1 special character $!%*#?&</span>
  </div>
  <div class="form-control">
    <label for="conPassword">Confirm Password</label>
    <input
      id="conPassword"
      type="password"
      formControlName="conPassword"
    >
    <span *ngIf="(f['conPassword'].hasError('required') || subscriberForm.hasError('passwordsNotMatching')) && (f['conPassword'].touched || f['conPassword'].dirty) || (isSubmitted)" class="alert">*Password confirmation missing or does not match</span>
  </div>
  <div class="form-control">
    <label for="subscriptionType">Choose a subscription Type</label>
    <select
      id="subscriptionType"
      formControlName="subscriptionType"
      value="Advanced"
    >
      <option value="Advanced"[selected]>Advanced</option>
      <option value="Basic">Basic</option>
      <option value="Pro">Pro</option>
    </select>
  </div>
  <input type="submit" value="Subscribe" class="btn btn-subscribe" >
  <input type="button" value="Clear" class="btn btn-clear" (click)="onReset()">
</form>