<form
  [formGroup]="subscriberForm"
  (ngSubmit)="onSubmit()"
  class="add-form"
>
  <div class="form-control">
    <label for="email">Email</label>
    <input
      id="email"
      type="email"
      formControlName="email"
    >
  </div>
  <div class="form-control">
    <label for="password">Password</label>
    <input
      id="password"
      type="password"
      formControlName="password"
    >
  </div>
  <div class="form-control">
    <label for="conPassword">Confirm Password</label>
    <input
      id="conPassword"
      type="password"
      formControlName="conPassword"
    >
  </div>
  <div class="form-control">
    <label for="subscriptionType">Choose a subscription Type</label>
    <select
      id="subscriptionType"
      formControlName="subscriptionType"
      value="Advanced"
    >
      <option value="Advanced"[selected]>Advanced</option>
      <option value="Basic">Basic</option>
      <option value="Pro">Pro</option>
    </select>
  </div>
  <input type="submit" value="Subscribe" class="btn btn-subscribe">
  <input type="reset" value="Clear" class="btn btn-clear">
</form>