<form>
  <div class="form-control">
    <label for="email">Email</label>
    <input type="'text" name="text" id="text" placeholder="Email" required />
  </div>
  <div class="form-control">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password" required />
  </div>
  <div class="form-control">
    <label for="password">Confirm Password</label>
    <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm Password" required />
  </div>
  <div class="form-control">
    <label for="choose-subscriptions">Choose a subscription Type</label>
    <select name="choose-subscriptions" id="choose-subscriptions">
      <option value="Adavanced">Adavanced</option>
      <option value="Basic">Basic</option>
      <option value="Pro">Pro</option>
    </select>
  </div>
  <input type="submit" value="Subscribe" class="btn" />
  <input type="reset" value="Clear" class="btn" />
</form>
