/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
h1 {
  margin: auto;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

img {
  width: 25%
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn-subscribe {
  background-color: green;
  width: 45%;
  margin: 10px;
}
.btn-clear {
  background-color: red;
  width: 45%;
  margin: 10px;
}
.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}

.btn-block {
  position: relative;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control select {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

input.ng-invalid.ng-dirty.ng-touched {
  border: 3px solid red;
}

#subscribers-table {
  max-width: 600px;
  margin: 30px auto;
  border-collapse: collapse;
  width: 100%;
}

#subscribers-table td, #subscribers-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#subscribers-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(55, 86, 56);
  color: white;
  text-decoration: double;
}

.alert {
  color: red;
}